<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Datos del registro</h1>
        <div th:each = "registro: ${caracteristicas_imagen}">
            <img th:src = "@{/assets/{filename}(filename=${registro.rutaImagen})}" width="600px">
            <br>
            ID: <span th:text = "${registro.id}" ></span><br>
            Nombre: <span th:text = "${registro.nombre}" ></span><br>
            Descripción: <span th:text = "${registro.descripcion}" ></span><br>
            Nombre original de la imagen: <span th:text = "${registro.rutaImagen}" ></span><br>
            Estado: <span th:text = "${registro.estado}" ></span><br>
        </div>
        <br>
        <a th:href="@{/}">Atras</a>
    </body>
</html>
